<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Work It.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>1278B6F20E8ACB57C4908C3E67FED36E499BA59C</string>
				<key>dateExpires</key>
				<string>29-10-21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1278B6F20E8ACB57C4908C3E67FED36E499BA59C</string>
						<key>dateExpires</key>
						<string>29-10-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8QR84N5G5A</string>
						<key>name</key>
						<string>F&amp;PL NETWORKING SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1278B6F20E8ACB57C4908C3E67FED36E499BA59C</string>
						<key>dateExpires</key>
						<string>29-10-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8QR84N5G5A</string>
						<key>name</key>
						<string>F&amp;PL NETWORKING SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1278B6F20E8ACB57C4908C3E67FED36E499BA59C</string>
						<key>dateExpires</key>
						<string>29-10-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CHIPageControl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8QR84N5G5A</string>
						<key>name</key>
						<string>F&amp;PL NETWORKING SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1278B6F20E8ACB57C4908C3E67FED36E499BA59C</string>
						<key>dateExpires</key>
						<string>29-10-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Cosmos.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8QR84N5G5A</string>
						<key>name</key>
						<string>F&amp;PL NETWORKING SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1278B6F20E8ACB57C4908C3E67FED36E499BA59C</string>
						<key>dateExpires</key>
						<string>29-10-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DLRadioButton.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8QR84N5G5A</string>
						<key>name</key>
						<string>F&amp;PL NETWORKING SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1278B6F20E8ACB57C4908C3E67FED36E499BA59C</string>
						<key>dateExpires</key>
						<string>29-10-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DateToolsSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8QR84N5G5A</string>
						<key>name</key>
						<string>F&amp;PL NETWORKING SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1278B6F20E8ACB57C4908C3E67FED36E499BA59C</string>
						<key>dateExpires</key>
						<string>29-10-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DigitInputView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8QR84N5G5A</string>
						<key>name</key>
						<string>F&amp;PL NETWORKING SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1278B6F20E8ACB57C4908C3E67FED36E499BA59C</string>
						<key>dateExpires</key>
						<string>29-10-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Eureka.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8QR84N5G5A</string>
						<key>name</key>
						<string>F&amp;PL NETWORKING SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1278B6F20E8ACB57C4908C3E67FED36E499BA59C</string>
						<key>dateExpires</key>
						<string>29-10-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8QR84N5G5A</string>
						<key>name</key>
						<string>F&amp;PL NETWORKING SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1278B6F20E8ACB57C4908C3E67FED36E499BA59C</string>
						<key>dateExpires</key>
						<string>29-10-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8QR84N5G5A</string>
						<key>name</key>
						<string>F&amp;PL NETWORKING SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1278B6F20E8ACB57C4908C3E67FED36E499BA59C</string>
						<key>dateExpires</key>
						<string>29-10-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8QR84N5G5A</string>
						<key>name</key>
						<string>F&amp;PL NETWORKING SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1278B6F20E8ACB57C4908C3E67FED36E499BA59C</string>
						<key>dateExpires</key>
						<string>29-10-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKShareKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8QR84N5G5A</string>
						<key>name</key>
						<string>F&amp;PL NETWORKING SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1278B6F20E8ACB57C4908C3E67FED36E499BA59C</string>
						<key>dateExpires</key>
						<string>29-10-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FloatingPanel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8QR84N5G5A</string>
						<key>name</key>
						<string>F&amp;PL NETWORKING SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1278B6F20E8ACB57C4908C3E67FED36E499BA59C</string>
						<key>dateExpires</key>
						<string>29-10-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8QR84N5G5A</string>
						<key>name</key>
						<string>F&amp;PL NETWORKING SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1278B6F20E8ACB57C4908C3E67FED36E499BA59C</string>
						<key>dateExpires</key>
						<string>29-10-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8QR84N5G5A</string>
						<key>name</key>
						<string>F&amp;PL NETWORKING SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1278B6F20E8ACB57C4908C3E67FED36E499BA59C</string>
						<key>dateExpires</key>
						<string>29-10-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8QR84N5G5A</string>
						<key>name</key>
						<string>F&amp;PL NETWORKING SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1278B6F20E8ACB57C4908C3E67FED36E499BA59C</string>
						<key>dateExpires</key>
						<string>29-10-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8QR84N5G5A</string>
						<key>name</key>
						<string>F&amp;PL NETWORKING SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1278B6F20E8ACB57C4908C3E67FED36E499BA59C</string>
						<key>dateExpires</key>
						<string>29-10-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ImageRow.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8QR84N5G5A</string>
						<key>name</key>
						<string>F&amp;PL NETWORKING SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1278B6F20E8ACB57C4908C3E67FED36E499BA59C</string>
						<key>dateExpires</key>
						<string>29-10-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>LZViewPager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8QR84N5G5A</string>
						<key>name</key>
						<string>F&amp;PL NETWORKING SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1278B6F20E8ACB57C4908C3E67FED36E499BA59C</string>
						<key>dateExpires</key>
						<string>29-10-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8QR84N5G5A</string>
						<key>name</key>
						<string>F&amp;PL NETWORKING SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1278B6F20E8ACB57C4908C3E67FED36E499BA59C</string>
						<key>dateExpires</key>
						<string>29-10-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PostalAddressRow.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8QR84N5G5A</string>
						<key>name</key>
						<string>F&amp;PL NETWORKING SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1278B6F20E8ACB57C4908C3E67FED36E499BA59C</string>
						<key>dateExpires</key>
						<string>29-10-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8QR84N5G5A</string>
						<key>name</key>
						<string>F&amp;PL NETWORKING SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1278B6F20E8ACB57C4908C3E67FED36E499BA59C</string>
						<key>dateExpires</key>
						<string>29-10-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8QR84N5G5A</string>
						<key>name</key>
						<string>F&amp;PL NETWORKING SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1278B6F20E8ACB57C4908C3E67FED36E499BA59C</string>
						<key>dateExpires</key>
						<string>29-10-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8QR84N5G5A</string>
						<key>name</key>
						<string>F&amp;PL NETWORKING SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1278B6F20E8ACB57C4908C3E67FED36E499BA59C</string>
						<key>dateExpires</key>
						<string>29-10-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftPhotoGallery.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8QR84N5G5A</string>
						<key>name</key>
						<string>F&amp;PL NETWORKING SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1278B6F20E8ACB57C4908C3E67FED36E499BA59C</string>
						<key>dateExpires</key>
						<string>29-10-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyCodeView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8QR84N5G5A</string>
						<key>name</key>
						<string>F&amp;PL NETWORKING SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1278B6F20E8ACB57C4908C3E67FED36E499BA59C</string>
						<key>dateExpires</key>
						<string>29-10-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Toaster.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8QR84N5G5A</string>
						<key>name</key>
						<string>F&amp;PL NETWORKING SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1278B6F20E8ACB57C4908C3E67FED36E499BA59C</string>
						<key>dateExpires</key>
						<string>29-10-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8QR84N5G5A</string>
						<key>name</key>
						<string>F&amp;PL NETWORKING SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1278B6F20E8ACB57C4908C3E67FED36E499BA59C</string>
						<key>dateExpires</key>
						<string>29-10-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8QR84N5G5A</string>
						<key>name</key>
						<string>F&amp;PL NETWORKING SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1278B6F20E8ACB57C4908C3E67FED36E499BA59C</string>
						<key>dateExpires</key>
						<string>29-10-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8QR84N5G5A</string>
						<key>name</key>
						<string>F&amp;PL NETWORKING SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1278B6F20E8ACB57C4908C3E67FED36E499BA59C</string>
						<key>dateExpires</key>
						<string>29-10-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8QR84N5G5A</string>
						<key>name</key>
						<string>F&amp;PL NETWORKING SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1278B6F20E8ACB57C4908C3E67FED36E499BA59C</string>
						<key>dateExpires</key>
						<string>29-10-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8QR84N5G5A</string>
						<key>name</key>
						<string>F&amp;PL NETWORKING SPA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1278B6F20E8ACB57C4908C3E67FED36E499BA59C</string>
						<key>dateExpires</key>
						<string>29-10-21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8QR84N5G5A</string>
						<key>name</key>
						<string>F&amp;PL NETWORKING SPA</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>8QR84N5G5A.workit.workitapp</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>8QR84N5G5A</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Work It.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>086de2db-1b81-4f7e-82de-405197647acf</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: workit.workitapp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>8QR84N5G5A</string>
				<key>name</key>
				<string>F&amp;PL NETWORKING SPA</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
