<div class="row">
  <div class="col-md-12">
    <div class="card mb-4">
      <div class="card-body">
        <div class="col-md-12 card-title text-center mb-3"><h5><b> TERMS AND CONDITIONS</b></h5></div>
        <div class="card-title mb-3">Last Updated On : 19/11/2019</div>
        <form ngNativeValidate (ngSubmit)="addTnc()">
          <div class="row">
            <div class="col-md-6 form-group mb-3">
              <label for="tnc">Terms And Conditions</label>
              <editor name="addtnc" [(ngModel)]="adding"  id="tnc" class=" description" [init]="{height : 319}" required>
              </editor>
            </div>
            <div class="col-md-12">
              <button type="submit" class="btn btn-primary" >Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
